body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
}

body a {
    text-decoration: none;
    color: black;
}

.header-admin-view {
    background-color: #fff6ec;
}

.line-center-content-footer span {
    height: 5px;
    width: 400px;
    background-color: black;
}

.github-link:hover {
    color: blue;
}
